#menu {
    border-bottom: 1px solid var(--light-purple);
}

#menu .navbar-brand {
    font-weight: 500;
}

.menu-link {
    color: var(--black);
    text-decoration: none;
    padding-left: 1vw;
}

.menu-link:active, .menu-link:focus {
    color: var(--purple);
    font-weight: 500;
} 
