.clothing-item-card {
    width: 45%;
}

.card-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.clothing-item-card-button {
    background-color: var(--purple);
    border: none;
}

.clothing-item-card-button:active, .clothing-item-card-button:focus {
    background-color: var(--black) !important;
}

.clothing-item-card-svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clothing-item-card-svg svg {
    width: 30vw;
    height: 15vh;
}

.square {
    width: 4vw;
    height: 2vh;
    border: 1px solid var(--black);
    margin-left: 2vw;
    display: inline-block;
}